<include file="Index:header" />
<!--头部 end -->
<!-- container start --> 
<div class="container paddtop">
	<div class="loan_search"></div>
    <!--内容 start-->
<div class="row-fluid index_loant">
<h4>投资列表</h4>
<ul class="title">
    <li class="sp1">借款标题</li>
    <li class="sp2">企业等级</li>
    <li class="sp2">年利率</li>
    <li class="sp3">金额</li>
    <li class="sp2">期限</li>
    <li class="sp2">进度</li>
    <li class="sp4"></li>
</ul>
<volist name="borrow" id="v">
<ul class="list">
    <li class="sp1" style="text-align: left;"><i class="icone label label-info">担</i><a href="__ROOT__/Loan/invest/{$v.id}.html" title="{$v.title}">{$v.title}</a></li>
    <li class="sp2"><span class="label label-warning">{$v.privacy}</span></li>
    <li class="sp2"><em>{$v.rates}</em>%</li>
    <li class="sp3"><em>{$v.money}</em>元</li>
    <li class="sp2"><em>{$v.deadline}</em>个月</li>
    <li class="sp4 s_progress">
        <div class="progress progress-success progress-striped" title="{$v.ratio}%">
         <div class="bar" style="width: {$v.ratio}%"></div>
        </div>
    </li>
    <li class="sp2">
     <if condition="$v.state eq 0">
     <a class="badge badge-important ibadge" href="__ROOT__/Loan/invest/{$v.id}.html"style="width:60px;">{$v.state_name}</a>
    <else />
     <a class="badge ibadge" style="width:60px;">{$v.state_name}</a>
    </if>
    </li>
</ul>
</volist> 
 </div> 
     <div class="pagination pagination-centered loan_page">
        <ul>{$page}</ul>
        </div>
</div>
			
          <!--内容 end-->
<!-- container end -->
<!--底部  start-->
<include file="Index:footer" />