<!-- left start-->
    <div class="center_left span2">
    	<dl>
        	<dt>我是投资者</dt>
            <dd><a href="__ROOT__/Loan.html">我要投资</a></dd>
            <dd><a href="__ROOT__/Center/invest/isclosed.html" >正在收款的借款</a></dd>
            <dd><a href="__ROOT__/Center/invest/isbid.html" >我投标的借款</a></dd>
        </dl> 
        <dl>
        	<dt>资金管理</dt>
            <dd><a href="__ROOT__/Center/fund/bank.html" >银行账户</a></dd>
            <dd><a href="__ROOT__/Center/fund/draw.html" >账户提现</a></dd>
            <dd><a href="__ROOT__/Center/fund/inject.html" >账户充值</a></dd>
            <dd><a href="__ROOT__/Center/fund/drawrecord.html" >提现记录</a></dd>
            <dd><a href="__ROOT__/Center/fund/injectrecord.html" >充值记录</a></dd>
            <dd><a href="__ROOT__/Center/fund/fundrecord.html" >资金记录</a></dd>
        </dl>
        <dl>
        	<dt>基本设置</dt>
            <dd><a href="__ROOT__/Center/basic/personal_data.html" >填写个人资料</a></dd>
            <dd><a href="__ROOT__/Center/basic/mail.html" >站内信</a></dd>
        </dl>
        <dl>
        	<dt>安全中心</dt>
            <dd><a href="__ROOT__/Center/security/password.html" >修改登陆密码</a></dd>
            <dd><a href="__ROOT__/Center/security/tpassword.html" >修改交易密码</a></dd>
        </dl>
    </div>
<!-- left end-->